* {box-sizing:border-box;}
body {background-color: #CCC;}

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        height: 93%;
      }

      #location{
      	margin-top: 10px;
      	margin-left: 20px;
      }

      hr{
        margin-top: 10px;
        margin-bottom: 10px;
      }

      input{
      	height: 20px;
      }